<main class="w-full mt-20 flex flex-col bg-white rounded p-8 text-lg">
  <section class="flex w-full justify-center py-4">
    <img src="https://res.cloudinary.com/bilalbudhani/image/upload/v1577093397/muzica_rryfmx.png" class="w-1/3">
  </section>
  <section class="flex justify-between w-full">
    <div class="flex flex-col">
      <strong>Invoice #001</strong>
      <span class="text-gray-600 mt-4">BILL TO</span>
      <span>Docraptor Demo LLC</span>
      <span>California, USA</span>
    </div>
    <div class="flex flex-col">
      <strong>Invoice Date: 2020-09-10</strong>
      <strong class="mt-8">Status: <span class="text-green-800">PAID</span></strong>
    </div>
  </section>
  <section class="mt-8 w-full">
    <table class="w-full">
      <thead>
        <tr class="border-b border-b-2">
          <th class="text-left py-2">Item</th>
          <th class="text-left py-2">Unit Cost</th>
          <th class="text-left py-2">Quantity</th>
          <th class="text-left py-2">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b">
          <td class="py-4">
            Lite Plan Subscription
          </td>
          <td class="py-4">
            $19.00
          </td>
          <td class="py-4">
            1
          </td>
          <td class="py-4">
            $19.00
          </td>
        </tr>
        <tr class="border-b">
          <td colspan="2"></td>
          <td class="py-4">
            Subtotal
          </td>
          <td class="py-4">
            $19.00
          </td>
        </tr>
        <tr class="border-b">
          <td colspan="2"></td>
          <td class="py-4">
            Tax Rate
          </td>
          <td class="py-4">
            0%
          </td>
        </tr>
        <tr class="border-b">
          <td colspan="2"></td>
          <td class="py-4">
            Amount due
          </td>
          <td class="py-4">
            $19.00
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="py-4">
            <p>Please write us at <a href="mailto:hey@bilal.dev">hey@bilal.dev</a> in case of any questions</p>
          </td>
        </tr>
      </tfoot>
    </table>
  </section>
</main>